<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	   xmlns:aop="http://www.springframework.org/schema/aop"
 	   xmlns:tx="http://www.springframework.org/schema/tx"
 	   xmlns:mvc="http://www.springframework.org/schema/mvc"
 	   xmlns:context="http://www.springframework.org/schema/context"
 	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
 	   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 	   http://www.springframework.org/schema/aop
 	   http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
 	   http://www.springframework.org/schema/tx 
 	   http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
 	   http://www.springframework.org/schema/context 
 	   http://www.springframework.org/schema/context/spring-context-4.2.xsd
 	   http://www.springframework.org/schema/mvc
 	   http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
 	 
 	 <!-- 开启SpringMVC注解 -->
 	 <mvc:annotation-driven/>
 	 
 	 <!-- 配置Spring静态资源 -->
 	 <mvc:resources location="/css/" mapping="/css/**"/>
 	 <mvc:resources location="/js/" mapping="/js/**"/>
 	 
 	 <!-- 视图解析器 -->
 	 <bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置JSTL支持 -->
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!--配置路径-->
		<property name="prefix" value="/"/>
		 <!-- 配置View后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
</beans>














